aws_secret_key = ""
aws_access_key = ""

region            = "us-east-1"
availability_zone = "us-east-1a"

private_rsa_key_path = "/home/{user_folder}/.ssh/id_rsa"
public_rsa_key_path  = "/home/{user_folder}/.ssh/id_rsa.pub"
public_key_name      = "youremail@domain.com"

master_ami           = "ami-0eafbf02ca3338472"
master_ebs           = 10
master_rbs           = 10
master_instance_type = "c5n.2xlarge"

worker_count         = 1
worker_ami           = "ami-0eafbf02ca3338472"
worker_ebs           = 10
worker_rbs           = 10
worker_instance_type = "t2.micro"
worker_spot_price    = 0.5


# "ami-08e4e35cccc6189f4" - AMAZON LINUX 2 BASE AMI
# "ami-089953d80342371d8" - OPENMPI + ULFM
# "ami-0b3a038f668f119e1" - MVAPICH2 TCP/IP + Singularity AMI
